.detail-container{
  margin: 30vh 25vw auto 25vw;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.detail-container section:first-child{
  flex:1;
}
.detail-container section:nth-child(2){
  flex: 2;
}
.detail-container h1{
  font-size: 5vh;
  font-weight: 300;
}
img{
  margin: 10vh 0;
  width: 20vmin;
  height: auto;
}
.detail-container p{
  font-weight: 100;
}
button{
  margin: 5vmin 0;
  width: 15vmin;
  height: 7vmin;
  border-radius: 20px;
  border: none;
  font-size: 3vmin;
  color: white;
  background: grey;
  cursor: pointer;
  transition: all 300ms ease;
}
button:hover{
  color: grey;
  background: white;
  box-shadow: 1px 1px 3px grey;
}